################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
.vs/
*.user
*.bru
/src/Tests/Postman/Sai.DealAssistant.Entities/bruno.json
*.csproj.lscache
# Environment variables
.env
.env.local
