ConnectionStrings__AppConnection=Host=localhost;Database=dealassistantdatabase;Username=dealassiatantuser;Password=
ConnectionStrings__MigrationConnection=Host=localhost;Database=dealassistantdatabase;Username=dealassiatant_migrator;Password=

AllowedCorsOrigins=http://localhost:3000;}
EnumTablesCacheExpitrationMins=3
DefaultResultPageSize=10

# Test data generation settings
SeedTestData=false
MultiplyDealsTargetRowCount=100000
BulkSqlTimeoutSeconds=3600